.exaol { 
  padding-bottom: 30px;
  border-top-width: 91px;
  border-top-width: 54px;
  border-right-width: 57px;
  margin-left: 45px;
  padding-left: 71px;
  border-left-width: 16px;
  border-left-width: 44px;
  font-size: 46px;
  padding-right: 18px;
  border-right-width: 16px;
  padding-left: 52px;
  padding-top: 7px;
  margin-top: 82px;
  border-right-width: 7px;
  padding-bottom: 13px;
  padding-bottom: 87px;
  padding-top: 18px;
  line-height: 41px;
  padding-right: 16px;
  line-height: 95px;
  line-height: 0px;
}
