.exaol { 
  padding-bottom: 30px;
  border-top-width: 91px;
  border-top-width: 54px;
  border-right-width: 57px;
  margin-left: 45px;
  padding-left: 71px;
  border-left-width: 16px;
  border-left-width: 44px;
  font-size: 46px;
  padding-right: 18px;
  border-right-width: 16px;
  padding-left: 52px;
  padding-top: 7px;
  margin-top: 82px;
  border-right-width: 7px;
  padding-bottom: 13px;
  padding-bottom: 87px;
  padding-top: 18px;
  line-height: 41px;
  padding-right: 16px;
  line-height: 95px;
  line-height: 0px;
  font-size: 62px;
  padding-bottom: 36px;
  margin-bottom: 35px;
  border-top-width: 71px;
  padding-top: 26px;
  font-size: 95px;
  margin-bottom: 26px;
  padding-right: 22px;
  padding-top: 25px;
  font-size: 58px;
  font-size: 66px;
  border-top-width: 73px;
  margin-bottom: 89px;
  margin-top: 55px;
  padding-left: 13px;
  margin-bottom: 53px;
  padding-top: 68px;
  border-right-width: 82px;
  border-left-width: 74px;
  border-bottom-width: 79px;
  margin-left: 92px;
  border-top-width: 8px;
  border-bottom-width: 45px;
  margin-left: 53px;
  padding-bottom: 79px;
  margin-left: 98px;
  line-height: 37px;
  margin-right: 76px;
  padding-left: 69px;
  margin-left: 89px;
  border-left-width: 78px;
  margin-right: 74px;
  margin-bottom: 96px;
  border-left-width: 33px;
  border-bottom-width: 27px;
  padding-right: 45px;
  font-size: 8px;
  margin-right: 60px;
  border-left-width: 84px;
  border-top-width: 85px;
  border-left-width: 98px;
  padding-left: 45px;
  margin-top: 37px;
  padding-left: 25px;
}
